{% extends 'base.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block css %}<link rel="stylesheet" href="css\movie.css">{% endblock %}

{% block content %}
<div class="row">
  <div class="col-4 col-lg-3">
    <img class="img-fluid" src="{{ poster }}" alt="No poster found"/>
  </div>
  <div class="col-8 col-lg-6">
    <h1>{{ title }}
      <span onclick="toggleFav()"><i class="{% if isFavorite > 0 %}fas {% else %} far  {% endif %} fa-heart" id="favBtn"></i></span>
    </h1>

    <h5>({{ genre }})</h5>

    {% if actors is not empty %}
      {% for herec in actors %}
        <a href="?page=actor&id={{ herec.id }}">{{ herec.jmeno }}</a> ({{herec.role}}),
      {% endfor %}
    {% else %}
      No actors available
    {% endif %}

  </div>
  <div class="col-12 col-lg-3">
      Current rating: {{ rating | default('no rating available')}}
      {% if userRating is not empty %}
          <div class="form-group row">
              <label for="rating" class="col-form-label">Your rating</label>
              <input class="form-control" type="number" value="{{ userRating }}" min="1" max="5" placeholder="Number of stars" id="rating" required />
          </div>
          <div class="form-group row">
              <label for="ratingText" class="col-form-label">Review:</label>
              <textarea id="ratingText" class="form-control" placeholder="Write your rating here..."></textarea>
          </div>
          <button onclick="rate()" class="btn">Rate</button>
      {% endif %}
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      {{ info | default('no info available')}}
    </div>
    <div class="col-12">
        <br/><br/>
        {% if comments is not empty %}
            {% for comment in comments %}
                {{ comment.jmeno }}  {{ comment.datum }}<br/>
                {{ comment.text }} <br/><br/>
            {% endfor %}
        {% else %}
          No comments available
        {% endif %}
        {% if userRating is not empty %}
            <form>
                <div class="form-group">
                    <label for="comment">Comment:</label>
                    <textarea id="comment" class="form-control" placeholder="Comment here..."></textarea>
                </div>
            </form>
            <button class="btn" onclick="comment()">Comment</button>
        {% endif %}

    </div>
  </div>
</div>

{% endblock %}


{% block javascript %}
<script src="js\movie.js"></script>
{% endblock %}
