{% extends 'base.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block css %}<link rel="stylesheet" href="css\movie.css">{% endblock %}

{% block content %}
<div class="row">
  <div class="col-4 col-lg-3">
    <img class="img-fluid" src="{{ poster }}" alt="No poster found"/>
  </div>
  <div class="col-8 col-lg-6">
    <h1>{{ title }} <h5>({{ genre }})</h5></h1>
    <button class="btn" id="favBtn" onclick="toggleFav()">Favorite</button>
  </div>
  <div class="col-12 col-lg-3">
    {{ rating | default('no rating available')}}
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      {{ info | default('no info available')}}
    </div>
    <div class="col-12">
      {{ actors | default('no actors available')}}
    </div>
    <div class="col-12">
      {{ comments | default('no comments available')}}
    </div>
  </div>
</div>

{% endblock %}


{% block javascript %}
  <script src="js\movie.js"></script>
{% endblock %}
